[Unit]
Description=Apache NiFi
After=syslog.target network.target

[Service]
User={{ nifi_user }}
Type=forking
PIDFile={{ nifi_pid_file }}
ExecStart={{ nifi_base_dir }}/nifi-current/bin/nifi.sh start
ExecStop={{ nifi_base_dir }}/nifi-current/bin/nifi.sh stop
ExecRestart={{ nifi_base_dir }}/nifi-current/bin/nifi.sh restart

[Install]
WantedBy=multi-user.target
